*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
@media (max-width: 400px){
    #container{
        color: white;
        background-color: darkcyan;
        padding: 20px;
        text-align: center;
    }
    h1{
        font-size: 32px;
        font-weight: 600;
        padding-bottom: 40px;
    }
    h2{
        font-size: 26px;
        font-weight: 800;
        padding-bottom: 50px;
    }
    h3{
        font-size: 24px;
        font-weight: 600;
        padding-bottom: 24px;
    }
    #love h3{
        font-size: 50px;
        font-weight: 800;
        padding-bottom: 55px;
    }
    h4{
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 30px;
    }
    p{
        font-size: 20px;
        padding-bottom: 30px;
    }
    button a{
        text-decoration: none;
        color: darkcyan;
    }
    button{
        background: white;
        padding: 16px 40px;
        border: none;
        border-radius: 28px;
        font-size: 15px;
        font-weight: 600;
    }
}